
* { /* Removed white space around header */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-container {
    background-color: #1F2937;
    min-height: 600px;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-around;
}

.header-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px; /* This makes it the same height of its parent. without this is wont center the div. */
    
}

.header-content {
    display: flex;
    flex-wrap: wrap; /* text and picture wrap in header */
    gap: 170px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: extra-bold;
}

.header-text button {
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 20px;
    color:#E5E7EB;
    background-color: #3882F6;
    max-width: 150px;
    border: none;
}


.header-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap: 30px;

}

.header-img img {
    max-width: 500px;
    border-radius: 20px;
}
/**/


.photo-container {
    padding: 30px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.photo-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    gap: 10px;
}


.photo-item img {
    border-radius: 20px;
    object-fit: cover;
}

.title {
    text-align: center;
    padding: 60px;
}

/* */

.quote-container {
    display: flex;
    justify-content: center; /* Centering a div using flexbox*/
    align-items: center;
    background-color: #E5E7EB;
    padding: 30px;
    min-height: 500px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 100px;
    max-width: 800px;
    
} 

.quote-name {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

/* */

.sign-up-container {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 25px;
    width: 1000px;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.sign-up-button button {
    display: flex;
    text-align: center;
    font-size: 14px;
    padding:  10px 50px;
    border-radius: 10px;
}

/* */

.footer-container {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Extra */

#recipes:hover {
    cursor: pointer;
    text-decoration: underline;
    color:aliceblue;
}

#gallery:hover {
    cursor: pointer;
    text-decoration: underline;
    color:aliceblue;

}

#shop:hover {
    cursor: pointer;
    text-decoration: underline;
    color:aliceblue;

}

.header-img:hover {
    cursor: pointer;
    transition: transform .1s;
    transform: scale(1.2);
}

.photo-item:hover {
    cursor: pointer;
    transition: transform .1s;
    transform: scale(1.2);
}

.header-text button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

.sign-up-button:hover {
    opacity: 0.8;
    transition: 0.2s;
}